.main-container {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}

/** --------- NAVBAR ------------ **/
.navbar {
    padding: 0;
    margin: 1.5%;
    max-width: 97%;
}
.top-navbar {
    background-color: #f8f6eaff;
    height: 11vh;
    max-height: 12vh;
    border-radius: 15px ;
}

.btn-menu {
    background-color: var(--color-secondary) ;
    height: 4.5vh;
    width: 4.5vh;
    padding: 0;
    border-radius: 0.5vh;
}
.navbar-brand {
    font-size: 3vh;
  /**  color: white !important; **/
}
.btn-menu i {
    font-size: 2.5vh;
}
.sticky-top {
    position: fixed;
    width: 100%;
}
.logo-image {
    max-height: 9.5vh;
    height: 9.5vh;
}

.menu-item{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1vh;
}
.menu-item a {
    color: black;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn-login {
    /**  background-color: #9cbb78ff ; **/
    background-color: var(--color-secondary) ;
    width: 80%;
    border-radius: 20px;
}

.login-button-navbar {
    margin-top: 10%;
    width: 100%;
}
.user-image-navbar{
    border-radius: 50%;
    height: 6vh;
    max-width: 7vh;
    padding: 10%;
}
.user-image-container {
    max-height: 7vh;
}
.image-navbar-container {
    background-color: var(--color-secondary);
    border-radius: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    
}

.user-arrow {
    font-size: 5px;
    display: flex;
    align-items: center;
    padding-left: 10%
}

.offcanvas-body {
    display: block;
    justify-content: center;

}


.offcanvas-body a{
    text-decoration: none;
    font-size: 3.5vh;
    color: black;
}
.offcanvas {
    width: 35vh
}
.offcanvas h5 {
    font-size: 3vh
}
.offcanvas-header {
    padding-top: 2vh;
    padding-right: 2vh;
    margin-top: 4vh;
}
.btn-close {
    font-size: 2vh;
}

.dropdown-item {
    cursor: pointer;
    font-size: 1em !important;
}
.dropdown-menu {
    min-width: 6rem !important;
}
.fi {
    margin-left: 5px;
}

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none !important;
}



/** ---------- NAVBAR2 ----------------*/


.subnavbar {
    height: 6vh;
    background-color: orange;
    border-radius: 10px;
    margin-bottom: 5vh;

}

.menu-lang {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

/* WORLD FLAGS (https://www.worldometers.info/geography/flags-of-the-world/) 

a:lang(es):after
{
  content: url(https://www.worldometers.info/img/flags/sp-flag.gif);
  height: 1em; 
  width: 1em; 
}

a:lang(en):after
{
  content: url(https://www.worldometers.info/img/flags/uk-flag.gif);

}
a:lang(pt):after
{
  content: url(https://www.worldometers.info/img/flags/br-flag.gif);

}
*/


/** ---------- HOME ----------------*/

.main-image img {
    margin-top: 5vh;
    width: 100%;
}

.p {
    font-size: 2.5vh;
}

.group-image img{
    width: 100%;
    border-top-left-radius: 4vh;
    border-bottom-right-radius: 4vh;
}
.group-image {
    text-align: center;
    display: block;
}
.home-screen {
    height: 60vh;
    display: block;
    
}
.squared-body {
    background: url("../images/squared_background.png") repeat 0 0 ;
    background-size: 15%;
}

.main-title-2 {
    font-size: 4vh;
    padding-top: 10%;
    text-align: center;
}

#contacto{
    padding-bottom: 40px;
}


/** -------- CARDS -------------- **/

.card-wrapper {
    border-radius: 1.5vh;
    margin: 15px;
    width: 100%;
    height: 30vh;
    max-height: 30vh;
    background-color: white;
}
.card-container {
    display: flex;
    justify-content: space-between;
}

.card-content{
    display: flex;
    height: 100%;
} 
.card-wrapper a {
    color: black;
} 
.card-wrapper a:hover {
    color: black;
} 

.image-content img{
    width: 100%;
    border-top-left-radius: 1.5vh;
    border-bottom-left-radius: 1.5vh;
    max-height: 30vh;
    object-fit: cover;
    object-position:50% 50%;
    height: 100%;

}
.image-content {
    width: 40%;
    display: none;
    justify-content: center;
    align-items: center;

}

.card-text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh;
    width: 100%;
}

.card-text-content h2 {
    font-size: 3.2vh;
    padding-top: 5px;
    display: flex;
    align-items: center;
}
.card-text-content p {
    font-size: 1.5vh;
}
.card-text-title {
    display: flex;
}

.card-info-elements {
    margin-top: 1vh;
}
.card-info-elements h6,i {
    font-size: 2vh;
}
.small-logo {
    padding-right: 20px;

}
.small-logo-image {
    height: 60px;
    border-radius: 50%;
}
.card-bottom-container{
    display: flex;
    justify-content: space-between;
}
.card-bottom-element{
    width: 50%;
    border: 1px black solid;
}

.home-button {
    width: 100%;
}
.home-button button {
    margin-top: 3vh;
    width: 100%;
    height: 4vh;
    font-size: 2vh;


}




/** ----------- PRICING   ------------ */

.fa-check {
    font-size: 2.5vh;
}
.fa-xmark {
    font-size: 2.5vh;
}
.pricing-title {
    padding-top: 5vh;
}
.premium-color {
    background-color: #05ac47!important ;
}
.enterprise-color {
    background-color:#2c3357 !important;
}
.enterprise-color h4 {
    color:white;
}
.compare-plans-header th {
    width: 22%;
}
.compare-plans-header th:first-child {
    width: 34%;
}

.compare-plans-row td:first-child{
    text-align: left !important;
}




/** ----------- PILLS TRAVESIAS   ------------ */

.nav-pills {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.nav-item {
    font-size: 2.8vh;
    display: flex;
    margin: 1vh 0;
}
.nav-item button {
    width: 100%;
}

.nav-pills-resumen,.nav-pills-resumen button  {
    width: 100%;
}



/*----------------- CONTACTO FORM --------------- **/
.form-control {
    font-size: 2vh;
}
.form-floating label{
    font-size: 2vh;
}
.form-floating input,.form-floating textarea  {
    border-radius: 1vh
}
.contact-form button {
    font-size: 2vh;
    width: 100%;
    height: 5vh;
    border-radius: 1vh;
}

.send-buttons {
    display: block;
}
.send-button {
    margin: 1vh 0;
}



/*  ---------------- FOOTER  -----------------  **/

.footer {
    bottom: 0;
    width: 100%;
    background-color: white;
    height: 6vh;
    margin: 10vh 5% 0 5%;
}
.footer-content {
    padding-top: 1.5vh;
}
.fixed-footer {
    position: fixed;
    bottom: 0;
}
.footer-tos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    text-align: center;
}
.footer-tos p, .footer-tos a {
    color: black;
    font-size: 15px
}
.footer-tos p:hover,a:hover {
    color: black;
}
.footer2 {
    padding: 3% 10%;
    background-color: #f8fbfdff;
    flex-direction: column-reverse;
}

.social-div {
    text-align: center;
  }

  .social-title {
    margin-bottom: 20px;
  }
  .social-title a {
    color: black;
    font-size: 30px;
}

  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 70px; /* Adjust the width and height for the desired size */
    height: 70px;
    font-size: 24px; /* Adjust the font-size for the desired icon size */
    border-radius: 50%;
    margin: 0 10px;
    background-color: #fff; /* Set the background color to the one that corresponds to the social platform */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  .social-icon i {
    font-size: 40px;
}

  .social-icon:hover {
    background-color: #e6e6e6; /* Change the background color on hover */
    transform: scale(1.1); /* Add a scale effect on hover */
  }

  .fa-whatsapp {
    color: #25d366; /* WhatsApp color */
  }

  .fa-linkedin-in {
    color: #0077b5; /* LinkedIn color */
  }

  .fa-youtube {
    color: #ff0000; /* YouTube color */
  }

/*  ---------------- LEGALES  -----------------  **/

.text-justify {
    text-align: justify;
}


/*  ---------------- LOGIN  -----------------  **/

.imagen-centro {
    text-align: center;
    display: block;
}
.imagen-centro img{
    border-radius: 50%;

}
#info-usuario {
    display: none;
}
#logout_button {
    display: none;
}
.info-usuario-titulo {
    font-size: 3vh;
    font-weight: bold;
}


/*  ---------------- LOGIN BUTTONS  -----------------  **/

.login-button {
    margin: 3vh 0;
    display: flex;
    justify-content: center;
}
.login-button a {
    font-size: 2vh;
}

.tn-button-a {
    color: #2c3357;
}
.tn-button-a:hover {
    color: #2c3357;
}

.sheet-button-a {
    color: #05ac47;
}
.sheet-button-a:hover {
    color: #05ac47;
}
.mp-button-a {
    color: #00b1ea;
}
.mp-button-a:hover {
    color: #00b1ea;
}
.black-button-a {
    color: black;
}
.black-button-a:hover {
    color: black;
}

.login-button button {
    background-color: white;
    padding: 1vh 2vh;
    transition: all 0.3s ease;
}
.login-button button:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    background-color: white;
}
.login-button-navbar button {
    transition: all 0.3s ease;
}
.login-button-navbar button:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}
.login-button-text {
    display: flex;
}
.login-button-p {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 1rem;
}
.login-button-logo {
    max-height: 4vh;
}


#error-container {
    color: red;
    margin-top: 5px;
}

.error-icon {
    margin-right: 5px;
}



/*---------------- TN INSTRUCCIONES --------------**/
.contact-form-ins {
    display: flex;
    justify-content: center;

}
.input-group{
    width: 70%;
    padding-bottom: 2vh;
}
.input-group-item1{
    display: block;
    width: 60%;
}
.input-group-item2{
    display: flex;
    align-items: flex-end;

    width: 40%;
}
.input-group-item2 button{
    margin-left: 20%;
    width: 100%;
}

.instructivo-general {
    margin-top: 4vh;
}

.presentation-container {
    display: block;
}
.frame {
    width: 100%;
    height: 50vh;
}

.clone-section {
    display: block;
    text-align: center;
    margin: 3vh 0;
}

.button-clone {
    height: 8vh;
    width: 40%;
    margin: 0;
   
}
.button-clone a {
    color: white;
}


#google-sign-in{
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    margin-bottom: 2vh;
}
#google-sign-in div{
    display: flex;
    justify-content: center;
}
    
/** ----------- TN INSTRUCTIONS 2   ------------ */

.instructions-container {
    border-radius: 20px;
    background-color: white ;
    padding: 0 20px;
}
.step-block {
    display: block;
    padding: 2vh 0;
    border-bottom: 0.5px solid black;
}

.step-title {
    font-size: 3vh;
    display: flex;
    font-weight: 700;
}
.step-check {
    color: green;
    padding-right: 2vw;
}
.fa-circle-check, .fa-circle {
    font-size: 3vh;
}
.step-user-info {
    display: block;
    margin-bottom: 2vh;

}
.step-user-info-logo {
    height: 100%;
    width: auto;
    border-radius: 50%;
    border: 1px solid black;
    aspect-ratio: 1;
    object-fit: cover;
}
.step-user-info-image {
    padding-bottom: 3vh;
    display: flex;
    justify-content: center;
    height: 9vh;
}
.step-user-info-data {
    display: block;
    text-align: center;
}
.step-left-text {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.step-3 {
    display: block;
    width: 100%;
    padding-left: vw;
}
.step-3 p {
    text-align: left;
}
.step-right-text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sheet-button {
    margin: 3vh 0;
}
.sheet-button a{
    color: white;
}
.sheet-button button {
    padding: 2vh 4vh;
}

.step-3 h3, .step-3 div {
    text-align: left;
}
.step-3 .input-group {
    width: 100% !important;
}

.step-right-image {
    width: 90%;
    text-align: center;
    border-radius: 20px;
}
.step-left-p {
    text-align: center;
}
.btn-functionalities a{
    color: black;
}
.step-left-span {
    font-weight: bold;
}


/** ------------------ ACCOUNT ----------------- **/

.account-table th {
    text-align: center;

}
.account-table .login-button {
    margin: 0;
}
/*  ---------------- MP INDEX  -----------------  **/

.mp-button {
    margin-top: 5vh;
    margin: 3vh 0;
    display: flex;
    justify-content: center;
}

.mp-button a {
    color: white;
    font-size: 2vh;
}
.mp-button button {
    background-color: #00b1ea;
    padding: 2vh 4vh;
    border: none;
}
.mp-button button:hover {
    background-color: #2d3277;
}
/** ------------ ONE PAGER -------------  **/

.main-division {
    display: block;
    width: 100%;
    height: 90vh;
}
.division-text-content {
    display: block;
    height: 45vh;
    padding: 0 2vh;
}
.division-right-content {
    display: block;
    height: 40vh;
}

.division-left-content-top{
    display: flex;
    align-items: center;
    height: 40%;
}

.division-left-content-bottom{
    height: 60%;
}

.explain-text {
    padding: 1vh 0;
    font-size: 2.5vh;
    text-align: center;
}
.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.video-container-height {
    height: 40vh;
}
.intro-video {
    max-width: 100%;
    border-radius: 2vh;
}


/*  NEW HOME PAGE*/

.division-text-content2 {
    display: block;
    padding: 0 2vh;
}

/** BOUNCE  **/ 
.bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 0.5s infinite linear;
    -o-animation: bounce 0.5s infinite linear;
    -webkit-animation: bounce 0.5s infinite linear;
    animation: bounce 0.5s infinite linear;
  }
@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}