.main-container {
    width: 95%;
    padding-left: 5%;
    display: block;
    justify-content: center;
    align-items: center;
}

/** --------- NAVBAR ------------ **/
.top-navbar {
    background-color: #f5a067;
    height: 10vh;
}

.btn-menu {
    background-color: #5089C6 ;
    height: 4.5vh;
    width: 4.5vh;
    padding: 0;
    border-radius: 0.5vh;
}
.navbar-brand {
    font-size: 3vh;
}
.btn-menu i {
    font-size: 2.5vh;
}



.offcanvas-body {
    display: block;
    justify-content: center;

}
.menu-item {
    text-align: center;
    color: black;
    padding: 1vh;
}
.menu-item:hover {
    background-color:#5089C6;
    color: white !important;
    border-radius: 6px;
}


.offcanvas-body a{
    text-decoration: none;
    font-size: 4vh;
    color: black;
}
.offcanvas {
    width: 35vh
}
.offcanvas h5 {
    font-size: 3vh
}
.offcanvas-header {
    padding-top: 2vh;
    padding-right: 2vh;
}
.btn-close {
    font-size: 2vh;
}


/** ---------- HOME ----------------*/

.main-image {
    width: 100%;
}

.p {
    font-size: 2.5vh;
    text-align: center;
}

.group-image img{
    width: 100%;
    border-top-left-radius: 4vh;
    border-bottom-right-radius: 4vh;
}
.group-image {
    text-align: center;
    display: block;
}


/** -------- CARDS -------------- **/

.card-wrapper {
    border-radius: 1.5vh;
    margin: 15px;
    width: 100%;
    max-height: 30vh;
}
.card-container {
    display: flex;
    justify-content: space-between;
}

.card-content{
    display: flex;
} 

.image-content img{
    position: relative;
    height: 100%;
    width: 100%;
    border-top-left-radius: 1.5vh;
    border-bottom-left-radius: 1.5vh;
    max-height: 30vh;

}
.image-content {
    width: 70%;
}

.card-text-content {
    margin-left: 0.5vh;
    display: block;
    padding: 0.5vh;
    justify-content: flex-end;
    width: 30%;
}

.card-text-content h2 {
    font-size: 2.7vh;
}
.card-text-content p {
    font-size: 1.5vh;
}
.card-text-title h2,p {
    text-align: center;
}
.card-info-elements h6,i {
    font-size: 1.5vh;

}

.home-button {
    width: 100%;
}
.home-button button {
    margin-top: 3vh;
    width: 100%;
    height: 4vh;
    font-size: 2vh;


}


/** ----------- EQUIPAMIENTO   ------------ */

.mochila-img {
    width: 100%;
}
.accordion-button {
    font-size: 2.5vh;
}
.accordion-button i {
    font-size: 2.5vh;
    margin-right: 2vw;
}
.form-check-label {
    font-size: 2vh;
}
.form-check input{
    font-size: 2vh;
}
.form-check {
    padding-left: 4vh;
}


/** ----------- PILLS TRAVESIAS   ------------ */

.nav-pills {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.nav-item {
    font-size: 2.8vh;
    display: flex;
    margin: 1vh 0;
}
.nav-item button {
    width: 100%;
}

.nav-pills-resumen,.nav-pills-resumen button  {
    width: 100%;
}



/*-------------CONTENIDO BLOG   ---------------- **/

.blog-content {
    display: block;
}

.blog-subtitle {
    font-size: 3vh;
    text-align: center;

}
.blog-main-text {
    font-size: 2vh;
    text-align: justify;
}

.blog-content span {
    font-weight: bold;
}
.blog-main-list {
    font-size: 2vh;
    text-align: justify;
}

/*----------------- CONTACTO FORM --------------- **/
.form-control {
    font-size: 2vh;
}
.form-floating label{
    font-size: 2vh;
}
.form-floating input,.form-floating textarea  {
    border-radius: 1vh
}
.form-floating textarea {
    padding-top: 10vh;
}
.contact-form button {
    font-size: 2vh;
    width: 100%;
    height: 5vh;
    border-radius: 1vh;
}

/*  ---------------- FOOTER  -----------------  **/

.footer {
    background-color: tomato;
    height: 10vh;
    margin-top: 3vh;
}
