.flex-md {
    display: flex;
}
.width-50-md {
    width: 45%;
    padding: 0 2vh
}
 /** 
.menu-item a {
  color: white !important
} **/

.hover-element:hover {
    transform: scale(1.1);
}
/** -------- HOME -------------- **/

.main-image {
    width: 100%;
}

.home-section {
    display: flex;
}

.home-first-section {
    padding: 10px;
}

.group-image {
    width: 100%
}
.group-image img {
    width: 100%
}
.main-title-2 {
    text-align: left;
    padding-top: 15%;
}
/** -------- CARDS -------------- **/

#offcanvas-menu {
    display: none;
}

.offcanvas-body a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.card-wrapper {
    width: 46%;
}
.image-content {
    display: block;
    width: 40%;
}
.image-content img{
    height: 100%;
    width: 100%;
    min-height: 20vh;
}
.card-wrapper:hover {
    transform: scale(1.1);
}
.card-text-content {
    margin-left: 2vh;
    width: 60%;

}

.card-text-content h2 {
    text-align: center;
    font-size: 4vh;
}
.card-text-content p {
    font-size: 2.3vh;
}

.card-info-elements h6,i {
    font-size: 2.3vh;

}

.card:hover {
   transform: scale(1.1); 
}
.small-logo {
    display: none;
}
/* ----------- FOOTER  ---------------  **/
.footer2 {
    flex-direction: row;
    justify-content: space-between;
}
.footer-tos {
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.social-div {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 60%;
}
.social-title{
    margin: 0 15px 0 0 ;
}
/* ----------- FORM  ---------------  **/
.contact-form button {
    width: 40%;
}
.send-buttons {
    display: flex;
    justify-content: space-between;
}

/** ---------- INSTRUCCIONES ------------ **/


.presentation-container {
    display: flex;
    padding: 0;

}
.presentation-container div {
    width: 50%;
    margin: 2%;
}

.clone-section {
    position: relative;
    text-align: center;
    display: block;
}

.button-clone {
    height: 8vh;
    width: 40%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/** ---------- INSTRUCCIONES 2------------ **/

.step-user-info {
    display: flex;
}
.step-left-text {
    display: flex;
    align-items: left;
    text-align: left;
    width: 50%;
}
.step-right-text {
    width: 50%;
}
.step-user-info-image {
    display: block;
    padding-bottom: 0;
}
.step-user-info-data {
        padding-left: 4vw;
}
.step-left-p {
    text-align: left;
} 

/** ------------ ONE PAGER -------------  **/

.main-division {
    display: flex;
    width: 100%;
    height: 70vh;
}
.division-text-content {
    height: 100%;
    width: 50%;
}
.division-right-content {
    height: 100%;
    width: 50%;
}

/** ------------ NEW HOME 2 -------------  **/

.main-division2 {
    display: flex;
    width: 100%;
    padding: 5vh 0;
}

.division-text-content2 {
    height: 100%;
    width: 40%;
}
.division-right-content2 {
    height: 100%;
    width: 60%;
}
.video-container-height {
    height: 70vh;
}

/** ---------- NAVBAR2 ----------------*/

.navbar2 {
    margin: 1%;
    max-width: 98%;
    max-height: 10%;
}
.navbar2-container {
    display: flex;
    width: 90%;
}
.container-menu {
    display: flex;
    width: 60%;
    align-items: flex-end;
}

.login-button-navbar2 {
    margin-left: 10%;
    width: 30%;
}
.user-image-navbar{
    border-radius: 50%;
    max-height: 6vh;
    padding: 10%;
}
.squared-body {
    background: url("../images/squared_background.png") repeat 0 0 ;
    background-size: 4%;
}
.menu-item{
    display: flex;
}
.menu-item a {
    display:flex;
    align-items: center;
    width: 100%;
  }

.image-navbar-container {
    border-radius: 20px;
    width: 7vw;
    display: flex;
    justify-content: space-between;
    
}
.user-image-container {
    max-height: 6vh;
}
.user-arrow {
    font-size: 5px;
    display: flex;
    align-items: center;
}