.main-container {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}

/** --------- NAVBAR ------------ **/
.navbar {
    padding: 0;
}
.top-navbar {
    background-color: #f8f6eaff;
/**    height: 10vh;
    max-height: 10vh; **/
    border-radius: 0 0 1vh 1vh ;
}

.btn-menu {
    background-color: #9cbb78ff ;
    height: 4.5vh;
    width: 4.5vh;
    padding: 0;
    border-radius: 0.5vh;
}
.navbar-brand {
    font-size: 3vh;
  /**  color: white !important; **/
}
.btn-menu i {
    font-size: 2.5vh;
}
.sticky-top {
    position: fixed;
    width: 100%;
}
.logo-image {
    height: 10vh;
    width: 10vh;
}





.offcanvas-body {
    display: block;
    justify-content: center;

}
.menu-item {
    text-align: center;
    padding: 1vh;
}
.menu-item a {
    color: black
}




.offcanvas-body a{
    text-decoration: none;
    font-size: 4vh;
    color: black;
}
.offcanvas {
    width: 35vh
}
.offcanvas h5 {
    font-size: 3vh
}
.offcanvas-header {
    padding-top: 2vh;
    padding-right: 2vh;
}
.btn-close {
    font-size: 2vh;
}

/** ---------- NAVBAR2 ----------------*/

.navbar2 {
    margin: 1.5%;
    max-width: 97%;
}
.navbar2-container {
    display: flex;
    width: 90%;
}


/** ---------- HOME ----------------*/

.main-image img {
    margin-top: 5vh;
    width: 100%;
}

.p {
    font-size: 2.5vh;
}

.group-image img{
    width: 100%;
    border-top-left-radius: 4vh;
    border-bottom-right-radius: 4vh;
}
.group-image {
    text-align: center;
    display: block;
}
.home-screen {
    height: 60vh;
    display: block;
    
}
.squared-body {
    background: url("../images/squared_background.png") repeat 0 0 ;
    background-size: 15%;
}


/** -------- CARDS -------------- **/

.card-wrapper {
    border-radius: 1.5vh;
    margin: 15px;
    width: 100%;
    height: 30vh;
    max-height: 30vh;
}
.card-container {
    display: flex;
    justify-content: space-between;
}

.card-content{
    display: flex;
    height: 100%;
} 

.image-content img{
    width: 100%;
    border-top-left-radius: 1.5vh;
    border-bottom-left-radius: 1.5vh;
    max-height: 30vh;

}
.image-content {
    width: 40%;
    display: block;
    justify-content: center;
    align-items: center;

}

.card-text-content {
    margin-left: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh;
    width: 60%;
}

.card-text-content h2 {
    font-size: 4vh;
}
.card-text-content p {
    font-size: 1.5vh;
}
.card-text-title h2,p {
    text-align: center;
}
.card-info-elements {
    margin-top: 1vh;
}
.card-info-elements h6,i {
    font-size: 2vh;
}
.card-bottom-container{
    display: flex;
    border: 1px black solid;
}
.card-bottom-element{
    width: 50%;
    border: 1px black solid;
}

.home-button {
    width: 100%;
}
.home-button button {
    margin-top: 3vh;
    width: 100%;
    height: 4vh;
    font-size: 2vh;


}




/** ----------- PRICING   ------------ */

.fa-check {
    font-size: 2.5vh;
}
.fa-xmark {
    font-size: 2.5vh;
}
.pricing-title {
    padding-top: 5vh;
}
.premium-color {
    background-color: #05ac47!important ;
}
.enterprise-color {
    background-color:#2c3357 !important;
}
.enterprise-color h4 {
    color:white;
}




/** ----------- PILLS TRAVESIAS   ------------ */

.nav-pills {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.nav-item {
    font-size: 2.8vh;
    display: flex;
    margin: 1vh 0;
}
.nav-item button {
    width: 100%;
}

.nav-pills-resumen,.nav-pills-resumen button  {
    width: 100%;
}



/*----------------- CONTACTO FORM --------------- **/
.form-control {
    font-size: 2vh;
}
.form-floating label{
    font-size: 2vh;
}
.form-floating input,.form-floating textarea  {
    border-radius: 1vh
}
.contact-form button {
    font-size: 2vh;
    width: 100%;
    height: 5vh;
    border-radius: 1vh;
}

.send-buttons {
    display: block;
}
.send-button {
    margin: 1vh 0;
}



/*  ---------------- FOOTER  -----------------  **/

.footer {
    bottom: 0;
    width: 100%;
    background-color: #f5a067;
    height: 6vh;
    margin-top: 10vh;
}
.footer-content {
    padding-top: 1.5vh;
}
.fixed-footer {
    position: fixed;
    bottom: 0;
}

/*  ---------------- LEGALES  -----------------  **/

.text-justify {
    text-align: justify;
}


/*  ---------------- LOGIN  -----------------  **/

.imagen-centro {
    text-align: center;
    display: block;
}
.imagen-centro img{
    border-radius: 50%;

}
#info-usuario {
    display: none;
}
#logout_button {
    display: none;
}
.info-usuario-titulo {
    font-size: 3vh;
    font-weight: bold;
}


/*  ---------------- LOGIN BUTTONS  -----------------  **/

.login-button {
    margin: 3vh 0;
    display: flex;
    justify-content: center;
}
.login-button a {
    font-size: 2vh;
}

.tn-button-a {
    color: #2c3357;
}
.tn-button-a:hover {
    color: #2c3357;
}

.sheet-button-a {
    color: #05ac47;
}
.sheet-button-a:hover {
    color: #05ac47;
}
.mp-button-a {
    color: #00b1ea;
}
.mp-button-a:hover {
    color: #00b1ea;
}
.black-button-a {
    color: black;
}
.black-button-a:hover {
    color: black;
}

.login-button button {
    background-color: white;
    padding: 1vh 2vh;
    transition: all 0.3s ease;
}
.login-button button:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    background-color: white;
}
.login-button-text {
    display: flex;
}
.login-button-p {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 1rem;
}
.login-button-logo {
    max-height: 4vh;
}



/*---------------- TN INSTRUCCIONES --------------**/
.contact-form-ins {
    display: flex;
    justify-content: center;

}
.input-group{
    width: 70%;
    padding-bottom: 2vh;
}
.input-group-item1{
    display: block;
    width: 60%;
}
.input-group-item2{
    display: flex;
    align-items: flex-end;

    width: 40%;
}
.input-group-item2 button{
    margin-left: 20%;
    width: 100%;
}

.instructivo-general {
    margin-top: 4vh;
}

.presentation-container {
    display: block;
}
.frame {
    width: 100%;
    height: 50vh;
}

.clone-section {
    display: block;
    text-align: center;
    margin: 3vh 0;
}

.button-clone {
    height: 8vh;
    width: 40%;
    margin: 0;
   
}
.button-clone a {
    color: white;
}


#google-sign-in{
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    margin-bottom: 2vh;
}
#google-sign-in div{
    display: flex;
    justify-content: center;
}
    
/** ----------- TN INSTRUCTIONS 2   ------------ */

.instructions-container {
    border-radius: 20px;
}
.step-block {
    display: block;
    padding: 2vh 0;
    border-bottom: 0.5px solid black;
}

.step-title {
    font-size: 3vh;
    display: flex;
}
.step-check {
    color: green;
    padding-right: 2vw;
}
.fa-circle-check, .fa-circle {
    font-size: 3vh;
}
.step-user-info {
    display: block;
}
.step-user-info-logo {
    height: 100%;
    width: auto;
    border-radius: 50%;
    border: 1px solid black;
    aspect-ratio: 1;
    object-fit: cover;
}
.step-user-info-image {
    padding-bottom: 3vh;
    display: flex;
    justify-content: center;
    height: 9vh;
}
.step-user-info-data {
    display: block;
    text-align: center;
}
.step-left-text {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 2vh;
}
.step-3 {
    display: block;
    width: 100%;
    padding-left: vw;
}
.step-3 p {
    text-align: left;
}
.step-right-text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sheet-button {
    margin: 3vh 0;
}
.sheet-button a{
    color: white;
}
.sheet-button button {
    padding: 2vh 4vh;
}

.step-3 h3, .step-3 div {
    text-align: left;
}
.step-3 .input-group {
    width: 100% !important;
}

.step-right-image {
    width: 90%;
    text-align: center;
    border-radius: 20px;
}
.step-left-p {
    text-align: center;
}
.btn-functionalities a{
    color: black;
}
.step-left-span {
    font-weight: bold;
}


/*  ---------------- MP INDEX  -----------------  **/

.mp-button {
    margin-top: 5vh;
    margin: 3vh 0;
    display: flex;
    justify-content: center;
}

.mp-button a {
    color: white;
    font-size: 2vh;
}
.mp-button button {
    background-color: #00b1ea;
    padding: 2vh 4vh;
    border: none;
}
.mp-button button:hover {
    background-color: #2d3277;
}
/** ------------ ONE PAGER -------------  **/

.main-division {
    display: block;
    width: 100%;
    height: 80vh;
}
.division-text-content {
    display: block;
    height: 45vh;
    padding: 0 1vh;
}
.division-right-content {
    display: block;
    height: 40vh;
}

.division-left-content-top{
    display: flex;
    align-items: center;
    height: 40%;
}

.division-left-content-bottom{
    height: 60%;
}

.explain-text {
    padding: 1vh;
    font-size: 2.5vh;
}
.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-container-height {
    height: 40vh;
}
.intro-video {
    max-width: 100%;
    border-radius: 2vh;
}

.arrow {
    text-align: center;
}
.arrow i {
    font-size: 6vh;
}

/*  NEW HOME PAGE*/

.division-text-content2 {
    display: block;
    padding: 0 1vh;
}

/** BOUNCE  **/ 
.bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 0.5s infinite linear;
    -o-animation: bounce 0.5s infinite linear;
    -webkit-animation: bounce 0.5s infinite linear;
    animation: bounce 0.5s infinite linear;
  }
@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}