@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLOR VARIABLES */

:root {
    --color-primary: #0f8241;
    --color-secondary: #10A84b;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-background: #f5fbf7;
    --color-background2: #108241;

  }


/* Montserrat Normal font */

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}

/* Montserrat Bold font */
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

/* Goldman Normal font */

@font-face {
    font-family: 'Goldman-Regular';
    src: url('/fonts/goldman/GoldmanSans_Md.ttf') format('truetype');
}

/* Goldman Thin font */
@font-face {
    font-family: 'Goldman-Bold';
    src: url('/fonts/montserrat/GoldmanSans_Bd.ttf') format('truetype');
}
  
  

h2,h3,h4,h6, p, li,a,label, button, th, td {
    font-family: 'Montserrat-Regular', sans-serif;

}
h1 {
    font-family: 'Montserrat-Bold', sans-serif;

}
strong {
    font-family: 'Montserrat-Bold', sans-serif;

}

/*
h1,h2,h3,h4,h6, p, li,a,label, button, th, td {
    font-family: 'Jost', sans-serif;

}
*/
a {
    text-decoration: none;
}

.container-fluid {
    max-width: 900px;
    justify-content: center;
}
.container-fluid a {
    text-align: center;
}


.main-title {
    font-size: 5vh;
    padding: 5vh 0 2vh 0;
    text-align: center;
}


body {
    max-width: 100% !important;
}

.main-text {
    font-size: 2.5vh;
    text-align: center;
}
.small-text {
    font-size: 2.5vh;
    margin: 2vh 0;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.width-100 {
    width: 100%;
}



ul {
    padding: 0;
    list-style-type: none;
}

.color-wapp {
    background-color: #25D366;
    color: #075E54;
}

.border-line {
    border: black solid;
}
.no-border {
    border: none !important;
}

.background-white {
    background-color: white!important;
}

.squared-body {
    background: url("../images/squared_background.png") repeat 0 0 ;
    background-size: 4%;
}



