@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h6, p, li {
    font-family: 'Jost', sans-serif;

}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
}

.container-fluid {
    max-width: 900px;
    justify-content: center;
}
.container-fluid a {
    text-align: center;
}


.main-title {
    font-size: 5vh;
    padding-top: 5vh;
    text-align: center;
}
body {
    padding-top: 10vh;
}

.main-text {
    font-size: 2.5vh;
    text-align: center;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.width-100 {
    width: 100%;
}
.main-center-button {
    margin: 3vh 0;
    display: flex;
    justify-content: center;
}


ul {
    padding: 0;
    list-style-type: none;
}

.color-wapp {
    background-color: #25D366;
    color: #075E54;
}

/** -------------------- Full page ------------------- **/ 
.section-fullpage{
    height: 100vh;
    scroll-snap-align: start;

}
.container-fullpage {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;

}




