<!DOCTYPE html>
<html>
  <head>

    <%- include("./partials/head.ejs") %>
    <%- include("./partials/header.ejs") %>
  </head>

  <body class="main-body">
    <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMHPBPS"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->



    <div class="container-fullpage">
      <section class="one section-fullpage">
        <div class="container">
          <h1 class="main-title">Automatizá tus ventas de Tienda Nube en Google Sheets</h1>
          <h3 class="main-text">
            Seguis usando Sheets para todo? Muchas tareas manuales para gestionar tus ventas y tu stock?
            Logueate con Tienda Nube y empezá a automatizar tus ventas en nuestro Google Sheet. 
          </h3>
          <div class="main-image">
            <img src="../images/fondo1.png" alt="" class="shadow rounded">
    
          </div>
          <div class="main-center-button">
            <button type="button" class="btn">
              <a href="https://www.tiendanube.com/apps/5434/authorize">Login Tienda Nube</a>
            </button>
          </div>
        </div>
      </section>
      <section class="two section-fullpage">
        <h1>Second page</h1>

      </section>
      <section class="three section-fullpage">
        <h1>Third page</h1>

      </section>
      <section class="four section-fullpage">
        <h1>Forth page</h1>
      </section>
    </div>

   <!--   <%- include("./partials/footer.ejs") %>   -->
  </body>
  <script type="text/javascript">
    let video = document.querySelector("video")
    window.addEventListener('scroll', function(){
      let value = 1 + window.scrollY/-900;
      video.style.opacity = value
    })

  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>
