        <div class="card-wrapper shadow">
            <div class="card-content">
              <div class="image-content">
              </div>
              <div class="card-text-content">
                <div class="card-text-title">
                </div>
                <div class="card-info-elements">
                  <div>
                    <h6><i class="far fa-calendar-alt"></i> 9 días</h6>
                  </div>
                  <div>
                    <h6><i class="fas fa-hiking"></i> 40 Km</h6>
                  </div>
                  <div>
                    <h6><i class="fas fa-mountain"></i> Dificil</h6>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div> <!-- End card-wrapper -->