<div class="container" id="contacto">
    <div class="p-3">
      <h1 class="main-title">Contacto</h1>
    </div>
    <div class="contact-form">
      <form>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="name" placeholder="Juan Perez" style="height:8vh">
          <label for="name">Nombre y Apellido</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="email" placeholder="juan@gmail.com" style="height:8vh">
          <label for="email">Email</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text"  class="form-control form-message" placeholder="Leave a comment here" id="message" style="height: 25vh"></input>
          <label for="message">Mensaje</label>
        </div>
        <div class="send-buttons">
          <!--<button type="submit" class="btn btn-primary send-button">Enviar por mail</button>-->
          <button type="submit" class="btn color-wapp send-button" id="goToWapp">Enviar mensaje por Whatsapp</button>
        </div>
     

      </form>
    </div>


  <script src="https://smtpjs.com/v3/smtp.js"></script>
  <script type="text/javascript">
    function sendEmail() {
      Email.send({
        Host: "smtp.gmail.com",
        Username: "juansegundoferrari@gmail.com",
        Password: "1234",
        To: 'juansegundoferrari@gmail.com',
        From: "juansegundoferrari@gmail.com",
        Subject: "Sending Email using javascript",
        Body: "Well that was easy!!",
        Attachments: [
          {
            name: "File_Name_with_Extension",
            path: "Full Path of the file"
          }]
      })
        .then( message => alert(message))
    }
  </script>
 
  <form method="post">
    <input type="button" value="Send Mail"
        onclick="sendEmail()" />
  </form>




</div>