<div class="container" id="contacto">
  <div class="p-3">
    <h1 class="main-title">Contacto</h1>
    <h3 class="main-text">
      Estamos aquí para ayudarte. Responderemos rápidamente porque valoramos tu tiempo.
    </h3>
  </div>
  <div class="contact-form">
    <form>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="Juan Perez" style="height:8vh">
        <label for="name">Nombre y Apellido</label>
      </div>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="juan@gmail.com" style="height:8vh">
        <label for="email">Email</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control form-message" placeholder="Leave a comment here" id="message"
          style="height: 25vh"></input>
        <label for="message">Mensaje</label>
      </div>
      <div class="send-buttons">
        <!--<button type="submit" class="btn btn-primary send-button">Enviar por mail</button>-->
        <button type="submit" class="btn color-wapp send-button" id="goToWapp">Enviar mensaje por Whatsapp</button>
      </div>


    </form>
  </div>



</div>