

  <footer class="d-flex flex-wrap justify-content-between align-items-center border-top footer2">
    <div class="d-flex footer-tos">
      <p class=" mb-0 text-muted">&copy; 2025 Sheets Central</p>
      <a href="/privacy-policy" class="hover-element"> <%= lang_object.text.privacy_policy %></a>
      <a href="/terms-and-conditions" class="hover-element"> <%= lang_object.text.terms_conditions %></a>
    </div>
    <div class="social-div">
      <div class="social-title" class="hover-element">
        <a href="/contacto"><%= lang_object.text.footer_title %></a>
      </div>
      <div class="social-icons">
        <a href="https://wa.me/+541172000689?text=Gran app>" target="_blank" class="social-icon shadow" ><i class="fa-brands fa-whatsapp"></i></a>
        <a href="https://www.linkedin.com/company/sheets-central" target="_blank" class="social-icon shadow"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://www.youtube.com/channel/UCuKld-_2oXhud6HM34tQciQ" target="_blank"  class="social-icon shadow"><i class="fa-brands fa-youtube"></i></a>
        
      </div>

    </div>

  </footer>
