<div class="container">


        <footer class="d-flex flex-wrap justify-content-between align-items-center my-5 py-3 border-top">
          <p class=" mb-0 text-muted">&copy; 2023 Sheets Central</p>
      

          <div class="d-block">
            <ul class="nav justify-content-end">
              <li class="nav-item"><a href="/" class="nav-link px-2">Inicio</a></li>
              <li class="nav-item"><a href="/#funcionalidades" class="nav-link px-2">Funcionalidades</a></li>
              <li class="nav-item"><a href="/#precios" class="nav-link px-2 ">Precio</a></li>
              <li class="nav-item"><a href="/#contacto" class="nav-link px-2">Contacto</a></li>
               </ul>
          </div>
          <ul class="nav justify-content-end">
            <li class="nav-item"><a href="/privacy-policy" class="nav-link px-2">Políticas de Privacidad</a></li>
            <li class="nav-item"><a href="/terms-and-conditions" class="nav-link px-2">Términos y Condiciones</a></li>
          </ul>
        </footer>
    </div>