<header>
    <nav class="navbar navbar-expand-lg navbar-light top-navbar">
      <div class="container-fluid ">
        <a class="navbar-brand" href="#">Smoke & Travel</a>
        <div class="container-menu">
          <button class="btn btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" id="offcanvas-menu">
            <i class="fas fa-bars"></i>
          </button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
              <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Smoke & Travel</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <div class="menu-item">
                    <a href="/">Inicio</a>
                  </div>
                  <div class="menu-item">
                    <a href="/viajes">Viajes</a>
                  </div>
                  <div class="menu-item">
                    <a href="/travesias" >Travesías</a>
                  </div>
                  <div class="menu-item">
                    <a href="/equipamiento">Equipamiento</a>
                </div >
                  <div class="menu-item">
                    <a href="/contacto">Contacto</a>
                 </div>
              </div>
            </div>
        </div>
      </div>
    </nav>
  </header>