<header>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light top-navbar shadow navbar2">
    <div class="container">
      <div>
        <a class="navbar-brand" href="#">
          <img src="../images/sheets_central_logo.png" alt="" class="logo-image">
        </a>

        <a class="navbar-brand" href="/">Sheets Central</a>
      </div>

      <div class="container-menu">
        <button class="btn btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight" id="offcanvas-menu">
          <i class="fas fa-bars"></i>
        </button>

        <div class="offcanvas offcanvas-end" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel"></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="menu-item hover-element">
              <a href="/#funcionalidades">Productos</a>
            </div>
            <div class="menu-item hover-element">
              <a href="/#precios">Documentaci贸n</a>
            </div>
            <div class="menu-item hover-element">
              <a href="/#contacto">Contacto</a>
            </div>

            <div class="menu-item login-button-navbar2">
              <% if (google_user_id ) { %>
                <a href="/account">
                  <div class="image-navbar-container">
                    <div class="user-arrow">
                      <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="user-image-container">
                      <% if (google_user.user_picture_url ) { %>
                        <img src="<%= google_user.user_picture_url %>" alt="" class="user-image-navbar">
                        <%} else { %>
                          <img src="../images/support.png" alt="" class="user-image-navbar">
                          <%} %>
                    </div>

                  </div>
                </a>
                <%} else { %>
                  <!-- 
                <a href="/google-login">
                  <button type="button" class="btn btn-login" id="login-button">Iniciar sesi贸n</button> 
                </a>-->
                  <button type="button" class="btn btn-login" data-bs-toggle="modal" data-bs-target="#loginModal"
                    id="login-button">Iniciar sesi贸n</button>
                  <%} %>
            </div>

          </div>
        </div>

      </div>

    </div>

    <!-- <div class="subnavbar shadow"></div> -->

  </nav>
</header>



<!-- LOGIN Modal SI NO VAMOS A USAR EL MODAL, SACARLO. -->
<div class="modal fade" id="loginModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Iniciar sesi贸n a Sheets Central</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%- include("../partials/buttons/google-login.ejs") %>
      </div>
    </div>
  </div>
</div>