<header>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light top-navbar shadow">
    <div class="container-fluid">
      
      <div>
        <a class="navbar-brand" href="#">
          <img src="../images/sheets_central_logo.png" alt="" class="logo-image">
        </a>
        
        <a class="navbar-brand" href="/">Sheets Central</a>
      </div>

      <div class="container-menu">
        <button class="btn btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight" id="offcanvas-menu">
          <i class="fas fa-bars"></i>
        </button>

        <div class="offcanvas offcanvas-end" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel"></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="menu-item">
              <a href="/#funcionalidades">Funcionalidades</a>
            </div>
            <div class="menu-item">
              <a href="/#precios">Precios</a>
            </div>
            <div class="menu-item">
              <a href="/#contacto">Contacto</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>