<header>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light top-navbar shadow navbar2">
    <div class="container">
      
      <div>
        <a class="navbar-brand" href="#">
          <img src="../images/sheets_central_logo.png" alt="" class="logo-image">
        </a>
        
        <a class="navbar-brand" href="/">Sheets Central</a>
      </div>

      <div class="container-menu">
        <button class="btn btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight" id="offcanvas-menu">
          <i class="fas fa-bars"></i>
        </button>

        <div class="offcanvas offcanvas-end" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel"></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="menu-item hover-element">
              <a href="/#funcionalidades">Productos</a>
            </div>
            <div class="menu-item hover-element">
              <a href="/#precios">Documentación</a>
            </div>
            <div class="menu-item hover-element">
              <a href="/#contacto">Contacto</a>
            </div>
            <div class="menu-item login-button-navbar2">
              <% if (google_user_id ) { %>
                <div class="image-navbar-container">
                  <div class="user-arrow">
                    <i class="fa-solid fa-chevron-down"></i>
                  </div>
                  <div class="user-image-container">
                    <img src="../images/support.png" alt="" class="user-image-navbar">
                  </div>

              </div>
              <%} else { %>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#loginModal" id="login-button">Iniciar sesión</button> 
                <%} %>


            </div>
          </div>
        </div>

      </div>

    </div>
  </nav>
</header>