<!-- CHECKS -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check" viewBox="0 0 16 16">
        <title>Check</title>
        <path
            d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
    </symbol>
</svg>
<div class="dividor"  id="precios">

</div>
<div class="container" >
    <div class="p-3">
        <h1 class="main-title" >Encuentra tu plan ideal</h1>
        <h3 class="main-text">
            Sabemos que cada e-commerce es único. Por eso, creamos soluciones a tu medida. Descubre cuál es la tuya y comienza ahora. 
        </h3>
    </div>
    <main>
        <div class="row row-cols-1 row-cols-md-2 mb-3 text-center"> <!-- Despues cambiar el row-cols-md-2 por row-cols-md-3 -->
            <!-- 
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Gratis</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light"></small>
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>- Histórico de 100 ventas</li>
                            <li>- Importación de nuevas ventas</li>
                            <li>- Configuración de cuenta</li>
                            <li>- Ideal para testearlo!</li>
                        </ul>
                        <a class="btn w-100 btn btn-lg btn-outline-primary" href="https://www.tiendanube.com/apps/5434/authorize" role="button" target="_blank">Login Tienda Nube</a>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Plus</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">U$S 10<small class="text-muted fw-light">/mes</small>
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>- Histórico total de ventas</li>
                            <li>- Nuevas ventas automáticas</li>
                            <li>- Dashboards</li>
                            <li>- Gestión de productos y stock</li>
                        </ul>
                        <a class="btn w-100 btn btn-lg btn-primary" href="/contacto" role="button">Suscribirse</a>
                    </div>
                </div>
            </div>
            -->
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Gratis</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$0
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>- Histórico total de ventas</li>
                            <li>- Nuevas ventas automáticas</li>
                            <li>- Dashboards</li>
                            <li>- Gestión de productos y stock</li>
                        </ul>
                        <a class="btn w-100 btn btn-lg btn-outline-primary" href="https://www.tiendanube.com/apps/5434/authorize" role="button" target="_blank">Login Tienda Nube</a>
                    </div>
                </div>
            </div>
            <!-- Sacar una vez que slo tengamos pago -->
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3 text-bg-primary">
                        <h4 class="my-0 fw-normal">Enterprise</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">Consultar
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>- Customizaciones especiales</li>
                            <li>- Integraciones con sistemas externos</li>
                            <li>- Soporte preferencial</li>
                            <li>- Diseño de Tienda</li>
                        </ul>
                        <a class="btn w-100 btn btn-lg btn-outline-dark" href="/#contacto" role="button">Hablemos</a>
                    </div>
                </div>
            </div>
        </div>

        
    </main>


</div>