
<div class="menu-item login-button-navbar">

<% if (navbar_data.active === true) { %>
    <a href="/account">
        <div class="image-navbar-container hover-element">
          <div class="user-arrow">
            <i class="fa-solid fa-user"></i>
          </div>
          <div class="user-image-container">
            <img src="<%= navbar_data.logo_url %>" alt="" class="user-image-navbar">
          </div>
        </div>
      </a>
<% } else { %>
    <!-- Show login button -->
    <button type="button" class="btn btn-login" data-bs-toggle="modal" data-bs-target="#loginModal" id="login-button">Iniciar sesión</button>
<% }  %>
</div>
