<div class="login-button">
    <button type="button" class="btn btn-outline-secondary">
      <% if (google_user_id) { %>
        <a class="tn-button-a" href="https://www.tiendanube.com/apps/7342/authorize?state=<%= google_user_id %>" target="_blank">
          <%} else { %>
        <a class="tn-button-a" href="https://www.tiendanube.com/apps/7342/authorize" target="_blank">
       <% } %>
        <div class="login-button-text">
          <img class="login-button-logo" src="../images/tiendanube_logo.png" alt="">
          <p class="login-button-p">Login Tiendanube</p>
        </div>
      </a>
    </button>
</div>