<div class="login-button" id="eu-button">
  <button type="button" class="btn btn-outline-secondary">
    <a class="eu-button-a"
      href="/eubanks/connect">
      <div class="login-button-text">
        <img class="login-button-logo" src="/images/logos/revolut_logo.png" alt="">
        <p class="login-button-p">Bank Login</p>
      </div>
    </a>
  </button>
</div> 