<div class="login-button">
  <button type="button" class="btn btn-outline-secondary">
    <a class="mp-button-a"
      href="https://auth.mercadopago.com/authorization?client_id=1668544373399736&response_type=code&platform_id=mp&redirect_uri=https://www.sheetscentral.com/mp-oauth"
      target="_blank">
      <div class="login-button-text">
        <img class="login-button-logo" src="/images/logos/mercadopago_logo.png" alt="">
        <p class="login-button-p">Login Mercado Pago</p>
      </div>
    </a>
  </button>
</div>