<div class="login-button" id="pluggy-button">
  <button type="button" class="btn btn-outline-secondary">
    <a class="mp-button-a"
      href="/pluggy/login">
      <div class="login-button-text">
        <img class="login-button-logo" src="/images/logos/bank.png" alt="">
        <p class="login-button-p">Login Pluggy</p>
      </div>
    </a>
  </button>
</div>