<div class="login-button" id="eu-button">
  <button type="button" class="btn btn-outline-secondary">
    <a class="tn-button-a"
      href="/strava/connect">
      <div class="login-button-text">
        <img class="login-button-logo" src="/images/logos/strava2.png" alt="">
        <p class="login-button-p">Strava Login</p>
      </div>
    </a>
  </button>
</div> 