<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/head.ejs") %>
    <%- include("../partials/header.ejs") %>
  <!-- Titulo del broswer-->
  <title>Sheets Central | Contacto</title>
  <meta property="og:title" content="Sheets Central | Contacto"> <!-- Esto despues hacerlo cambiado para cada proyecto -->
      
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMHPBPS"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <%- include("../partials/contact-form.ejs") %>


  <%- include("../partials/footer.ejs") %>


  </body>
  <script src="/js/contact.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>
