<!DOCTYPE html>
<html>
  <head>
    <title>Equipamiento</title>
    <%- include("../partials/head.ejs") %>
    <%- include("../partials/header.ejs") %>
  </head>

  <body>
    <div class="main-container">
      <h1 class="main-title">Equipamiento</h1>
      <p class="p">Las cosas que una persona lleva de equipamiento son vitales para poder andar tranquilamente en la montaña.</p>
      <p class="p">Les dejamos algunos tips de cosas que no pueden faltar para poder sobrevivir en la montaña:</p>
    </div>

    <section class="equipment-section main-container">
      <div class="equipment-container">
        <%- include("../partials/equipo.ejs") %>
      </div>

    </section>
    <section class="main-container">
      <h1 class="main-title">Como armar una mochila</h1>
      <img src="/images/mochila1.jpeg" alt="" class="mochila-img">

    </section>
    <section class="main-container">
      <h1 class="main-title">Tips para la montaña</h1>
      <img src="/images/mochila1.jpeg" alt="" class="mochila-img">

    </section>
    <%- include("../partials/footer.ejs") %>

  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>
