<style>
    .button {
        margin-top: 5vh;
        margin: 3vh 0;
        display: flex;
        justify-content: center;
    }

    .button a {
        color: white;
        font-size: 2vh;
    }

    .button .tn-button {
        background-color: #2c3357;
        padding: 2vh 4vh;
    }

    .button .tn-button:hover {
        background-color: #3c0087;
    }

    .button .yt-button {
        background-color: #FF0000;
        padding: 2vh 4vh;
    }

    .button .yt-button:hover {
        background-color: #282828;
    }

    .button .sp-button {
        background-color: darkblue;
        padding: 2vh 4vh;
    }

    .button .sp-button:hover {
        background-color: #282828;
    }
    
    .intro-video {
        max-width: 100%;
        padding: 0 5%;
    }
</style>

<h2>Drive para Nuvemshop</h2>

<p>Carregue produtos do seu Google Drive para o Nuvemshop em massa!</p>

<div class="video-container">
    <video loop autoplay playsinline muted class="intro-video">
        <source src="https://www.sheetscentral.com/images/inicio-dt1.mp4" type="video/mp4" />
    </video>
</div><!-- Divisão do conteúdo à direita -->
<br>

<p>
    Gerencie automaticamente todas as fotos dos seus produtos com o Drive para Nuvemshop 🚀
</p>
<br>
<div class="button">
    <button type="button" class="btn btn-outline-secondary tn-button">
        <a href="https://www.sheetscentral.com/drive-to-tiendanube" target="_blank">Comece grátis</a>
    </button>
</div>
<br>
<p>
    Obtenha todas as imagens do seu Google Drive e sincronize cada uma com seu respectivo produto.
</p>
<p>
    Carregue imagens em massa.
</p>
<div class="button">
    <button type="button" class="btn btn-outline-secondary yt-button">
        <a href="https://www.youtube.com/watch?v=lz_Pm_7qolE" target="_blank">Ver demo</a>
    </button>
</div>

<h2>Funcionalidades</h2>
<ul>
    <li>Importação em massa de imagens do Google Drive</li>
    <li>Importação de todos os produtos do Nuvemshop</li>
    <li>Carregamento em massa de imagens de uma planilha do Google para o Nuvemshop.</li>
    <li>Funcionalidades extras sob demanda!</li>
</ul>

<h2>Atendimento</h2>

<p>
    Nos escreva! Adoraríamos saber como você gerencia sua loja e quais problemas você enfrenta no seu dia a dia!
</p>

<div class="button">
    <button type="button" class="btn btn-outline-secondary sp-button">
        <a href="https://www.sheetscentral.com/#contacto" target="_blank">Suporte</a>
    </button>
</div>
