<style>
    .button {
        margin-top: 5vh;
        margin: 3vh 0;
        display: flex;
        justify-content: center;
    }

    .button a {
        color: white;
        font-size: 2vh;
    }

    .button .tn-button {
        background-color: #2c3357;
        padding: 2vh 4vh;
    }

    .button .tn-button:hover {
        background-color: #3c0087;
    }

    .button .yt-button {
        background-color: #FF0000;
        padding: 2vh 4vh;
    }

    .button .yt-button:hover {
        background-color: #282828;
    }

    .button .sp-button {
        background-color: darkblue;
        padding: 2vh 4vh;
    }

    .button .sp-button:hover {
        background-color: #282828;
    }
</style>
<h2>Drive to Tiendanube</h2>

<p>¡Carga productos de tu Google Drive a Tiendanube masivamente!</p>

<div class="video-container">
    <video loop autoplay playsinline muted class="intro-video">
      <source src="https://www.sheetscentral.com/images/inicio-dt1.mp4" type="video/mp4" />
    </video>
  </div><!-- Divion right content-->
<br>

<p>
    Gestiona automáticamente todas las fotos de tus productos con Drive to Tiendanube 🚀
</p>
<br>
<div class="button">
    <button type="button" class="btn btn-outline-secondary tn-button">
        <a href="https://www.sheetscentral.com/drive-to-tiendanube" target="_blank">Comenzá gratis</a>
    </button>
</div>
<br>
<p>
    Obtén todas las imágenes de tu Google Drive y sincroniza cada una con su producto correspondiente. 
</p>
<p>
    Carga imágenes de forma masiva.
</p>
<div class="button">
    <button type="button" class="btn btn-outline-secondary yt-button">
        <a href="https://www.youtube.com/watch?v=lz_Pm_7qolE" target="_blank">Ver demo</a>
    </button>
</div>

<h2>Funcionalidades</h2>
<ul>
    <li>Importación masiva de imágenes desde Google Drive</li>
    <li>Importación de todos los productos de Tiendanube</li>
    <li>Carga masiva de imágenes desde un Google Sheet a Tiendanube. </li>
    <li>¡Funcionalidades extra a pedido!</li>
</ul>

<h2>Soporte</h2>

<p>
    ¡Escribenos! Nos encantaría saber cómo gestionas tu tienda y que problemáticas encontras en tu día a día! 
    
</p>

<div class="button">
    <button type="button" class="btn btn-outline-secondary sp-button">
        <a href="https://www.sheetscentral.com/#contacto" target="_blank">Soporte</a>
    </button>
</div>