<style>
    .button {
        margin-top: 5vh;
        margin: 3vh 0;
        display: flex;
        justify-content: center;
    }

    .button a {
        color: white;
        font-size: 2vh;
    }

    .button .tn-button {
        background-color: #2c3357;
        padding: 2vh 4vh;
    }

    .button .tn-button:hover {
        background-color: #3c0087;
    }

    .button .yt-button {
        background-color: #FF0000;
        padding: 2vh 4vh;
    }

    .button .yt-button:hover {
        background-color: #282828;
    }

    .button .sp-button {
        background-color: darkblue;
        padding: 2vh 4vh;
    }

    .button .sp-button:hover {
        background-color: #282828;
    }
</style>
<h2>Sheets Central</h2>

<p>Llegó el primer gestor de Tienda Nube en Google Sheets! 🚀</p>
<div>
    <img src="https://www.sheetscentral.com/images/fondo1.png" alt="" style="max-width: 100%;">
</div>
<br>

<p>
    Gestiona automáticamente todas tus ventas, productos y clientes directamente en Google Sheets.
</p>
<br>
<div class="button">
    <button type="button" class="btn btn-outline-secondary tn-button">
        <a href="https://www.sheetscentral.com/" target="_blank">Comenzá gratis</a>
    </button>
</div>
<br>
<p>
    Cada nueva venta y actualización aparece en real-time, podes obtener tu stock en un click y la información de tus
    clientes automáticamente.
</p>
<p>
    Una vez configurado, podes aplicar fórmulas, gráficos, columnas adicionales, y todas las funcionalidades de Google
    Sheets, como ya las conoces!
</p>

<p>
    Sheets Central te ofrece una configuración simple y rápida sin necesidad de conocimientos técnicos.
</p>
<h2>Funcionalidades</h2>
<ul>
    <li>Configuración en 2 minutos</li>
    <li>Ventas automatizadas (cada nueva venta genera una nueva fila)</li>
    <li>Actualizaciones automatizadas (en caso de pagos o cancelaciones)</li>
    <li>Importación de productos y categorías</li>
    <li>Actualización y edición masiva de stock y precios</li>
    <li>Creación masiva de productos y variantes</li>
    <li>Dashboards y tablas dinámicas</li>
</ul>

<div class="button">
    <button type="button" class="btn btn-outline-secondary yt-button">
        <a href="https://sheetscentral.notion.site/Sheets-Central-Tiendanube-b5981995bad64dc19be57d4704a76fff" target="_blank">Ver documentación</a>
    </button>
</div>

<h2>Soporte</h2>

<p>
    ¡Escribenos! Nos encantaría saber cómo gestionas tu tienda y que problemáticas encontras en tu día a día! 
    
</p>

<div class="button">
    <button type="button" class="btn btn-outline-secondary sp-button">
        <a href="https://www.sheetscentral.com/#contacto" target="_blank">Soporte</a>
    </button>
</div>