<style>
    .button {
        margin-top: 5vh;
        margin: 3vh 0;
        display: flex;
        justify-content: center;
    }

    .button a {
        color: white;
        font-size: 2vh;
    }

    .button .tn-button {
        background-color: #2c3357;
        padding: 2vh 4vh;
    }

    .button .tn-button:hover {
        background-color: #3c0087;
    }

    .button .yt-button {
        background-color: #FF0000;
        padding: 2vh 4vh;
    }

    .button .yt-button:hover {
        background-color: #282828;
    }

    .button .sp-button {
        background-color: darkblue;
        padding: 2vh 4vh;
    }

    .button .sp-button:hover {
        background-color: #282828;
    }
</style>
<h2>Sheets Central</h2>
<p>Chegou o primeiro gestor da Nuvemshop no Google Sheets! 🚀</p>
<div>
    <img src="https://www.sheetscentral.com/images/tn_fondo1.png" alt="" style="max-width: 100%;">
</div>
<br>
<p>
    Gerencie automaticamente todas as suas vendas, produtos e clientes diretamente no Google Sheets.
</p>
<br>
<div class="button">
    <button type="button" class="btn btn-outline-secondary tn-button">
        <a href="https://www.sheetscentral.com/" target="_blank">Comece grátis</a>
    </button>
</div>
<br>
<p>
    Cada nova venda e atualização aparece em tempo real, você pode obter seu estoque com um clique e as informações dos seus clientes automaticamente.
</p>
<p>
    Uma vez configurado, você pode aplicar fórmulas, gráficos, colunas adicionais e todas as funcionalidades do Google Sheets, como você já conhece!
</p>
<p>
    O Sheets Central oferece uma configuração simples e rápida, sem a necessidade de conhecimentos técnicos.
</p>
<h2>Funcionalidades</h2>
<ul>
    <li>Configuração em 2 minutos</li>
    <li>Vendas automatizadas (cada nova venda gera uma nova linha)</li>
    <li>Atualizações automatizadas (em caso de pagamentos ou cancelamentos)</li>
    <li>Importação de produtos e categorias</li>
    <li>Importação de clientes</li>
    <li>Atualização e edição em massa de estoque e preços</li>
    <li>Criação em massa de produtos e variantes</li>
    <li>Dashboards e tabelas dinâmicas</li>
</ul>
<div class="button">
    <button type="button" class="btn btn-outline-secondary yt-button">
        <a href="https://sheetscentral.com/tiendanube/documentation" target="_blank">Ver documentação</a>
    </button>
</div>
<h2>Atendimento</h2>
<p>
    Nos escreva! Adoraríamos saber como você gerencia sua loja e quais problemas enfrenta no seu dia a dia!
</p>
<div class="button">
    <button type="button" class="btn btn-outline-secondary sp-button">
        <a href="https://www.sheetscentral.com/#contacto" target="_blank">Atendimento</a>
    </button>
</div>