<div class="login-button">
    <button type="button" class="btn btn-outline-secondary">
      <a class="sheet-button-a"
        href="https://docs.google.com/spreadsheets/d/10B09ggcVpXERkTeJM_R4OCRD4OxDAIgCZUip0knFPZ8/copy"
        target="_blank">
        <div class="login-button-text">
          <img class="login-button-logo" src="/images/logos/sheets_logo.png" alt="">
          <p class="login-button-p">Clonar Sheet (v2.3)</p>
        </div>
      </a>
    </button>
</div>