<div class="login-button">
    <button type="button" class="btn btn-outline-secondary">
      <a class="sheet-button-a"
        href="<%= url ? url : '/mercadopago/clone-sheet?connection_id=' + connection_id %>"
        target="_blank">
        <div class="login-button-text">
          <img class="login-button-logo" src="/images/logos/sheets_logo.png" alt="">
          <p class="login-button-p"><%= buttonText ? buttonText : lang_object.text.sheet_clone_button + '(v1.3)' %></p>
        </div>
      </a>
    </button>
</div>