<div class="login-button">
    <button type="button" class="btn btn-outline-secondary">
      <a class="sheet-button-a"
        href="<%= url ? url : 'https://docs.google.com/spreadsheets/d/1fAjXyysxHFVx_2zv70kY3FM9emwi0m1kYHve_XT2JMg/copy' %>"
        target="_blank">
        <div class="login-button-text">
          <img class="login-button-logo" src="/images/logos/sheets_logo.png" alt="">
          <p class="login-button-p"><%= buttonText ? buttonText : 'Clonar Sheet (v2.4)' %></p>
        </div>
      </a>
    </button>
</div>