<div class="blog-content main-container">
    <h1 class="main-title">Colonia Suiza a Laguna Negra (Refugio Manfredo Segre)</h1>
    <p class="blog-main-text">
      Arrancamos con el pie izquierdo. Con poco sueño y resaca emprendimos viaje. La primer parte del trayecto fue una caminata amena bordeando un arroyo a la sombra del bosque, donde se formó un microclima divino que nos levantó los ánimos. Luego de esto vino la parte más exigente del trekking, una subida tipo caracol de 1 hora con una hermosa vista a una cascada (imagen). Esto nos marcó el desafío que iba a ser este viaje. 
    </p>
    <p class="blog-main-text">
      Nos levantamos por la mañana en Laguna Negra, tras nuestra primera noche en la montaña. Fue una de esas mañanas en las cuales todavía uno no está acostumbrado a los horarios de montaña, así que con mucha paciencia y tranquilidad desayunamos y recorrimos el predio. Es un sueño. Luego de un paseo corto pero refrescante comenzamos a desarmar las carpas (tarea que por ser el primer día nos tomó más de lo normal) y preparar las mochilas para continuar con la travesía.
    </p>
    <p class="blog-main-text">
      Antes de continuar nuestro camino hacia el siguiente destino (Laguna CAB), nos dirigimos al refugio Laguna Negra (https://refugiolagunanegra.com/)  para pedir recomendaciones sobre el trayecto. Nos encontramos con un guía que nos advirtió que no ibamos a llegar a tiempo a Laguna Cab porque ya estábamos tarde. Luego de insistirle apasionadamente, decidió ayudarnos. Comenzó dándonos indicaciones concretas y recomendaciones que culminaron abruptamente con una pregunta:
    </p>
    <p class="blog-main-text">
      -Tienen algún mapa para mostrarles las referencias?- a lo que contestamos en unisono -no-.
      - bueno, una brújula por lo menos?- insiste el guía.
      Todos quedamos en silencio, esperando que alguno mágicamente conjure una brújula y nos salve del descuido.
      -GPS? Radios?? Experiencia?!-. 
      
      Nos miramos entre todos y de reojo a @lukilotz y Joaquin que se sumaban por primera vez al viaje y contestamos que todos contábamos con varios viajes de experiencia. Luego de una mirada preocupada y un poco de consideración el guia exclama:
      
      - Avancen con precaución que puede formarse neblina, de ser así vuelvan.-
    </p>
    <p class="blog-main-text">
      Todos sabíamos que volver no era una opción a menos que fuese completamente imposible pasar. Y así fue como, nuevamente con el pie izquierdo, comenzamos la travesía.
El inicio del camino nos aterrorizó con paredes de hielo por las cuales había que pasar con mucho cuidado o caerse en el intento (@miguegessaghi para colmo decidió elevar la dificultad acarreando su guitarra con una pasión que la seguiría en el abismo), y pasadizos de piedra empinados que se asimilaba a Erebor, la montaña del Hobbit. Pero nuestra manija y locura nos dio la mentalidad que necesitábamos para seguir adelante. Sabia decisión, ya que poco más adelante el camino se abría y reinaba la calma. Ya aliviados continuamos caminando hacia nuestro próximo destino, la Laguna CAB.
    </p>


</div>  <!-- End blog content-->