<div class="blog-content main-container">
    <h1 class="main-title">Colonia Suiza a Laguna Negra (Refugio Manfredo Segre)</h1>
    <p class="blog-main-text">
      Arrancamos con el pie izquierdo. Con poco sueño y resaca emprendimos viaje. La primer parte del trayecto fue una caminata amena bordeando un arroyo a la sombra del bosque, donde se formó un microclima divino que nos levantó los ánimos. 
    </p>
    <div class="blog-image-content">
      <img class="blog-image" src="/images/bariloche/1-caminata.jpg" alt="image-1">
      <div class="blog-image-author">
        <i class="fas fa-camera"></i>
        <p>Tomás Blotta</p>
      </div>
    </div>
    <p class="blog-main-text">
      Luego de esto vino la parte más exigente del trekking, una subida tipo caracol de 1 hora con una hermosa vista a una cascada. Esto nos marcó el desafío que iba a ser este viaje. 
    </p>
    <div class="blog-image-content">
      <img class="blog-image" src="/images/bariloche/1-lagunanegra.jpg" alt="image-1">
      <div class="blog-image-author">
        <i class="fas fa-camera"></i>
        <p>Tomás Blotta</p>
      </div>
    </div>
    <p class="blog-main-text">
      Finalmente llegamos a Laguna Negra con los últimos rayos de sol por la tarde. La laguna tiene una vista alucinante y su temperatura es helada. Por la noche cenamos una rica pasta caliente para recomponer las energías que nos llevó este primer trayecto. La noche estrellada ayudó a disfrutar más todavía del plato. Aprovechamos a dormir temprano teniendo en cuenta las pocas horas de sueño que teníamos encima.
    </p>
    <div class="blog-image-content">
      <img class="blog-image" src="/images/bariloche/1-vista.jpg" alt="image-1">
      <div class="blog-image-author">
        <i class="fas fa-camera"></i>
        <p>Tomás Blotta</p>
      </div>
    </div>


</div>  <!-- End blog content-->