<div class="blog-content main-container">
      <h1 class="main-title">Laguna Negra a Laguna Cab</h1>
      <p class="blog-main-text">
        Luego de toda la travesía por Laguna Negra  arribamos a Laguna CAB, un lugar alucinante con una vista única. Al llegar nos enteramos que la zona de acampe se encontraba del otro lado de la laguna. Rápidamente y sin pensarlo nos quitamos las botas, y empezamos a bordear la orilla del lago, refrescándonos y comenzando a disfrutar este mágico destino. Ese día nos tocó un cielo estrellado y una luna radiante que iluminaba todo a nuestro alrededor. 
      </p>
      <p class="blog-main-text">
        Laguna Cab es uno de los lugares más hermosos, tranquilos y solitarios que visitamos. Tocamos canciones, meditamos, y cocinamos unos ricos fideos para recargar pilas para la siguiente travesía. FOTOS CAB 
      </p>
</div>  <!-- End blog content-->