<div class="blog-content main-container">
      <h1 class="main-title">Laguna Negra a Laguna Cab</h1>
      <p class="blog-main-text">
        Nos levantamos por la mañana en Laguna Negra, tras nuestra primera noche en la montaña. Fue una de esas mañanas en las cuales todavía uno no está acostumbrado a los horarios de montaña, así que con mucha paciencia y tranquilidad desayunamos y recorrimos el predio. Es un sueño. Luego de un paseo corto pero refrescante comenzamos a desarmar las carpas (tarea que por ser el primer día nos tomó más de lo normal) y preparar las mochilas para continuar con la travesía.
      </p>
      <div class="blog-image-content">
        <img class="blog-image" src="/images/bariloche/1-lagunanegra.jpg" alt="image-2">
        <div class="blog-image-author">
          <i class="fas fa-camera"></i>
          <p>Tomás Blotta</p>
        </div>
      </div>
      <p class="blog-main-text">
        Antes de continuar nuestro camino hacia el siguiente destino (Laguna CAB), nos dirigimos al refugio <a class="link-ref" href="https://refugiolagunanegra.com/">Laguna Negra</a> para pedir recomendaciones sobre el trayecto. Nos encontramos con un guía que nos advirtió que no ibamos a llegar a tiempo a Laguna Cab porque ya estábamos tarde. Luego de insistirle apasionadamente, decidió ayudarnos. Comenzó dándonos indicaciones concretas y recomendaciones que culminaron abruptamente con una pregunta:
      </p>
      <p class="blog-main-text">
        <ul>
          <li>Tienen algún mapa para mostrarles las referencias?- a lo que contestamos en unisono -no-.
          </li>
          <li>Bueno, una brújula por lo menos? - insiste el guía.
          </li>
          <li>
            Todos quedamos en silencio, esperando que alguno mágicamente conjure una brújula y nos salve del descuido.
          </li>
          <li>
            GPS? Radios?? Experiencia?!-. 
          </li>
          <li>
            Nos miramos entre todos y de reojo a Lukas y Joaquin que se sumaban por primera vez al viaje y contestamos que todos contábamos con varios viajes de experiencia. Luego de una mirada preocupada y un poco de consideración el guia exclama:
          </li>
          <li>
            Avancen con precaución que puede formarse neblina, de ser así vuelvan.
          </li>
        </ul>
      </p>
      <div class="blog-image-content">
        <img class="blog-image" src="/images/bariloche/2-lukas.jpg" alt="image-2">
        <div class="blog-image-author">
          <i class="fas fa-camera"></i>
          <p>Tomás Blotta</p>
        </div>
      </div>
      <p class="blog-main-text">
        Todos sabíamos que volver no era una opción a menos que fuese completamente imposible pasar. Y así fue como, nuevamente con el pie izquierdo, comenzamos la travesía.
      </p>
      <p class="blog-main-text">
        El inicio del camino nos aterrorizó con paredes de hielo por las cuales había que pasar con mucho cuidado o caerse en el intento (@miguegessaghi para colmo decidió elevar la dificultad acarreando su guitarra con una pasión que la seguiría en el abismo), y pasadizos de piedra empinados que se asimilaba a Erebor, la montaña del Hobbit. Pero nuestra manija y locura nos dio la mentalidad que necesitábamos para seguir adelante. Sabia decisión, ya que poco más adelante el camino se abría y reinaba la calma. Ya aliviados continuamos caminando hacia nuestro próximo destino, la Laguna CAB.
      </p>
      <div class="blog-image-content">
        <img class="blog-image" src="/images/bariloche/2-caminata2.jpg" alt="image-2">
        <div class="blog-image-author">
          <i class="fas fa-camera"></i>
          <p>Tomás Blotta</p>
        </div>
      </div>
      <p class="blog-main-text">
        Luego de toda la travesía por Laguna Negra  arribamos a Laguna CAB, un lugar alucinante con una vista única. Al llegar nos enteramos que la zona de acampe se encontraba del otro lado de la laguna. Rápidamente y sin pensarlo nos quitamos las botas, y empezamos a bordear la orilla del lago, refrescándonos y comenzando a disfrutar este mágico destino. 
      </p>
      <div class="blog-image-content">
        <img class="blog-image" src="/images/bariloche/2-agua.jpg" alt="image-2">
        <div class="blog-image-author">
          <i class="fas fa-camera"></i>
          <p>Tomás Blotta</p>
        </div>
      </div>
      <p class="blog-main-text">
        Ese día nos tocó un cielo estrellado y una luna radiante que iluminaba todo a nuestro alrededor. Laguna Cab es uno de los lugares más hermosos, tranquilos y solitarios que visitamos. Tocamos canciones, meditamos, y cocinamos unos ricos fideos para recargar pilas para la siguiente travesía.
      </p>
      <div class="blog-image-content">
        <img class="blog-image" src="/images/bariloche/2-grupal.jpg" alt="image-2">
        <div class="blog-image-author">
          <i class="fas fa-camera"></i>
          <p>Tomás Blotta</p>
        </div>
      </div>
</div>  <!-- End blog content-->