<div class="blog-content main-container">
    <h1 class="main-title">Laguna Cab - Mallín Mate Dulce </h1>
    <p class="blog-main-text">
      Tras una noche épica en Laguna Cab, @juanseferrari nos preparó unos ricos mates, levantamos campamento y nos dirigimos hacia Mallin Mate Dulce. INSERT Foto de juanse haciendo mate
    </p>
    <p class="blog-main-text">
      Por suerte nos tocó un día fantástico, y pudimos transitar el camino sin problemas y disfrutando de la hermosa vista.
    </p>
    <p class="blog-main-text">
      El tramo desde Cab hacia Mallín no es tan exigente, pero sí es peligroso. Hay muchas piedras sueltas, tiene partes empinadas y acantilados. Recomendamos extra atención y paciencia para esta aventura.
    </p>
    <p class="blog-main-text">
      En lo alto del paso CAB-Mallin se dio la foto del equipo de la Travesía de Las 5 Lagunas en Bariloche.  INSERT FOTO GRUPAL
     </p>
    <p class="blog-main-text">
      Llegamos al Mallín de mate dulce con poca energía y mucha hambre. Nos hicimos una buena picada mientras esperábamos el guiso de lentejas y soja texturizada que nos acostó en la cama.
    </p>
    <p class="blog-main-text">
      El Mallín es una zona abierta, descampada y más húmeda de lo normal, por lo cual la sensación térmica puede bajar drásticamente a la tarde/noche. Recomendamos tener ropa seca y una bolsa de dormir de por lo menos -5 grados para evitar pasar un frío desmedido.    
    </p>
    <p class="blog-main-text">
      *La palabra Mallín deriva del Mapudungun (mapuche) “malliñ” que significa pradera cenagosa. Son tierras bajas inundables o humedales.* 
    </p>
    <p class="blog-main-text">
      Ya al día siguiente con unas tostadas con dulce de leche nos encontramos recuperados y listos para continuar la marcha! 
    </p>
 </div>  <!-- End blog content-->