<div class="blog-content main-container">
              <h1 class="main-title">Mallín - Cretón </h1>
              <p class="blog-main-text">
                Para llegar a la Laguna Creton el camino comienza abruptamente con una subida pronunciada desde el Mallín Mate Dulce hasta el paso de montaña que se encuentra entre el Cerro Cristal y el Cerro Cumpleaños.
              </p>
              <div class="blog-image-content">
                <img class="blog-image" src="/images/bariloche/4-creton1.jpg" alt="image-2">
                <div class="blog-image-author">
                  <i class="fas fa-camera"></i>
                  <p>Tomás Blotta</p>
                </div>
              </div>
              <p class="blog-main-text">
                Frenamos aquí para observar el valle debajo nuestro, recuperar energía con unos snacks de granola y aprovechar a sacar unas fotos. 
              </p>
              <div class="blog-image-content">
                <img class="blog-image" src="/images/bariloche/4-grupal.jpg" alt="image-2">
                <div class="blog-image-author">
                  <i class="fas fa-camera"></i>
                  <p>Tomás Blotta</p>
                </div>
              </div>
              <p class="blog-main-text">
                Luego tocaba descender cuidadosamente por un camino de piedras sueltas y barro. Logramos llegar ilesos al lugar de acampe, dentro de un pequeño monte que rodeaba la cascada del Creton. Ya instalados, relajamos y contemplamos el valle a nuestros pies con @miguegessaghi entonando con la naturaleza.
              </p>
              <div class="blog-image-content">
                <img class="blog-image" src="/images/bariloche/4-detras.jpg" alt="image-2">
                <div class="blog-image-author">
                  <i class="fas fa-camera"></i>
                  <p>Tomás Blotta</p>
                </div>
              </div>
              <p class="blog-main-text">
                Esa misma noche cenamos un increíble risotto de hongos de pino que repuso nuestras energías al 100%. Tomarse el trabajo de cocinar bien en la montaña, es una actividad que realmente intensifica la experiencia en su totalidad.
              </p>
              <div class="blog-image-content">
                <img class="blog-image" src="/images/bariloche/4-comida.jpg" alt="image-2">
                <div class="blog-image-author">
                  <i class="fas fa-camera"></i>
                  <p>Enrique Skou</p>
                </div>
              </div>
              
</div>  <!-- End blog content-->  