<div class="blog-content main-container">
              <h1 class="main-title">Mall칤n - Cret칩n </h1>
              <p class="blog-main-text">
                Para llegar a la Laguna Creton el camino comienza abruptamente con una subida pronunciada desde el Mall칤n Mate Dulce hasta el paso de monta침a que se encuentra entre el Cerro Cristal y el Cerro Cumplea침os.
              </p>
              <p class="blog-main-text">
                Frenamos aqu칤 para observar el valle debajo nuestro, recuperar energ칤a con unos snacks de granola y aprovechar a sacar unas fotos. Luego tocaba descender cuidadosamente por un camino de piedras sueltas y barro. Logramos llegar ilesos al lugar de acampe, dentro de un peque침o monte que rodeaba la cascada del Creton. Ya instalados, relajamos y contemplamos el valle a nuestros pies con @miguegessaghi entonando con la naturaleza 游꿮. INSERT FOTOS CRETON. (grupal, en la zona de acampe y paisaje)
              </p>
              
</div>  <!-- End blog content-->  