<div class="blog-content main-container">
    <h1 class="main-title">Laguna Cret칩n - Laguna Il칩n</h1>
    <p class="blog-main-text">
      El sexto d칤a fue duro (como lo son todos 游땍). Nos levantamos temprano para encontrarnos con mucha niebla y un fr칤o muy penetrante. A칰n as칤 decidimos actuar para tener tiempo suficiente para llegar al siguiente destino, Laguna Il칩n.
    </p>
    <p class="blog-main-text">
      El camino no es de alta dificultad pero con visi칩n limitada hay que estar alerta constantemente. La niebla hace muy dif칤cil encontrar las pircas que se침alan el camino. Fuimos atacados por una lluvia que nos moj칩 al punto de agregarnos unos kilos encima.
    </p>
    <p class="blog-main-text">
      Luego de un par de horas, comenzamos a descender hacia un bosque donde se levantaba la niebla. Decidimos parar a almorzar all칤 lo que nos quedaba en el fondo de las mochilas, bien improvisado. Despu칠s de una comida reparadora, continuamos el trayecto por un camino m치s relajado y con mejor visibilidad.
    </p>
    <br>
    <br>
    <h2 class="blog-subtitle">Il칩n</h2>
    <p class="blog-main-text">
      No hay palabras para la llegada a la Laguna Il칩n. Todo el fr칤o y el hambre que pasamos, todo el sufrimiento y emociones culminaron en este hermoso lugar.
    </p>
    <p class="blog-main-text">
      Es verdad eso de que el viaje debe ser el destino, pero este destino dio significado a gran parte del viaje.
    </p>
    <p class="blog-main-text">
      Ni bien llegamos fuimos a la proveedur칤a a tomar un merecido chocolate caliente, y durante las pr칩ximas horas nos dedicamos a contemplar la belleza y el silencio del lugar. La naturaleza ac치 es verdaderamente imponente.
    </p>
    <p class="blog-main-text">
      El lugar cuenta con zona de refugio, como tambi칠n con una zona de acampe bastante grande que se extiende hacia un bosque detr치s de la proveedur칤a. Al pie de la zona de acampe se despliega una playa hermosa, con vista a unas monta침as de una belleza incalculable. (INSERT FOTO DE ILON, la primera del siguiente link: https://drive.google.com/drive/folders/1XefAdanNh5iP3U1esqhI-fotWM2Cn788 )
    </p>
</div>  <!-- End blog content-->  