<div class="blog-content main-container">
    <h1 class="main-title">La Mirada del Doctor </h1>
    <p class="blog-main-text">
      Despues de una noche de sueño reparador en Laguna Ilón, nos acercamos a los domos donde nos pedimos el desayuno continental que tenía: tostadas, cereales y un jugo de naranja excelente. Un lujo total dada la circunstancia. 
    </p>
    <p class="blog-main-text">
      De ahí volvimos a las carpas para armar las mochilas con lo esencial para subir a La Mirada del Doctor (se puede hacer durante el día). 
    </p>
    <p class="blog-main-text">
      Después de una hora y media de caminata con serenatas de nuestro guitarrista @miguegessaghi llegamos a destino. Podemos decir que encontramos una de las vistas más alucinantes de todo el viaje. Aprovechamos para disfrutar el día entero ahí, implorando el lugar y socializando con los demás aventureros. Lleven mate y comida rica, que hay rato largo para disfrutar. (INSERT FOTO o VIDEO DE DRONE DEL GRUPO).              </p>

</div>  <!-- End blog content--> 