<div class="blog-content main-container">
    <h1 class="main-title">La Mirada del Doctor </h1>
    <p class="blog-main-text">
      <span>*Es una caminata corta a realizar durante la estadía en Laguna Ilón</span>
    </p>
    <p class="blog-main-text">
      Despues de una noche de sueño reparador en Laguna Ilón, nos acercamos a los domos donde nos pedimos el desayuno continental que tenía: tostadas, cereales y un jugo de naranja excelente. Un lujo total dada la circunstancia. 
    </p>
    <div class="blog-image-content">
      <img class="blog-image" src="/images/bariloche/6-lago.jpg" alt="image-2">
      <div class="blog-image-author">
        <i class="fas fa-camera"></i>
        <p>Tomás Blotta</p>
      </div>
    </div>

    <p class="blog-main-text">
      De ahí volvimos a las carpas para armar las mochilas con lo esencial para subir a La Mirada del Doctor (se puede hacer durante el día). 
    </p>
    <p class="blog-main-text">
      Después de una hora y media de caminata con serenatas de nuestro guitarrista @miguegessaghi llegamos a destino. Podemos decir que encontramos una de las vistas más alucinantes de todo el viaje.               
    </p>
    <div class="blog-image-content">
      <img class="blog-image" src="/images/bariloche/6-chori.jpg" alt="image-2">
    </div>
    <div class="blog-image-content">
      <img class="blog-image" src="/images/bariloche/6-docsview.jpg" alt="image-2">
      <div class="blog-image-author">
        <i class="fas fa-camera"></i>
        <p>Tomás Blotta</p>
      </div>
    </div>

    <p class="blog-main-text">
      Aprovechamos para disfrutar el día entero ahí, implorando el lugar y socializando con los demás aventureros. Lleven mate y comida rica, que hay rato largo para disfrutar.
    </p>
    <div class="blog-image-content">
      <img class="blog-image" src="/images/bariloche/6-quique.jpg" alt="image-2">
      <div class="blog-image-author">
        <i class="fas fa-camera"></i>
        <p>Tomás Blotta</p>
      </div>
    </div>
    <p class="blog-main-text">
      A la noche disfrutamos unas ricas fajitas a la luz de un fogón y aprovechamos a hablar y bailar. 
    </p>


</div>  <!-- End blog content--> 