<div class="blog-content main-container">
              <h1 class="main-title">Laguna Ilón - Refugio Agostino Rocca</h1>
              <p class="blog-main-text">
                Nos levantamos temprano para encontrarnos con un cielo azul, sin nubes a la vista. Rápidamente saltamos de la carpa y aprovechamos el tiempo que nos quedaba en la playa de @lagunailon. Después de un refrescante chapuzón nos preparamos para comenzar el trayecto hacia Agostino Rocca.
              </p>
              <p class="blog-main-text">
                Es un camino largo pero muy disfrutable. Tuvimos que hacer varias paradas porque tuvimos un lesionado en el equipo (@fertossici) con problemas de rodilla. 
              </p>
              <div class="blog-image-content">
                <img class="blog-image" src="/images/bariloche/7-caminata.jpg" alt="image-2">
                <div class="blog-image-author">
                  <i class="fas fa-camera"></i>
                  <p>Tomás Blotta</p>
                </div>
              </div>
              <p class="blog-main-text">
                Fue en uno de los pasos en altura que nos encontramos con él, el imponente Cerro Tronador, radiante por el reflejo del sol en su manto de nieve. Disfrutamos de un receso extendido a su pie donde @tomyblo retrató este fabuloso momento y continuamos nuestro camino hacia @refugio.rocca.
              </p>
              <div class="blog-image-content">
                <img class="blog-image" src="/images/bariloche/7-grupal2.jpg" alt="image-2">
              </div>
              <div class="blog-image-content">
                <img class="blog-image" src="/images/bariloche/7-montaña.jpg" alt="image-2">
                <div class="blog-image-author">
                  <i class="fas fa-camera"></i>
                  <p>Tomás Blotta</p>
                </div>
              </div>
              <p class="blog-main-text">
                Luego de una hermosa travesía de entre unas 5 y 7  horas de caminata desde Laguna Ilón, arribamos al refugio Agostino Rocca. Atravesamos el famoso “Paso de las nubes”. Una experiencia única e irrepetible. Tanto esfuerzo valió la pena cuando llegamos a este lugar paradisíaco. 
              </p>
              <div class="blog-image-content">
                <img class="blog-image" src="/images/bariloche/7-vista.jpg" alt="image-2">
                <div class="blog-image-author">
                  <i class="fas fa-camera"></i>
                  <p>Tomás Blotta</p>
                </div>
              </div>
              <p class="blog-main-text">
                Si hay algo de este tipo de viajes, es que la recompensa siempre es proporcional al esfuerzo físico realizado. A mayor esfuerzo, más grata parece ser la recompensa. 
              </p>
              <p class="blog-main-text">
                El refugio consta de una sala tipo comedor, con una hermosa vista hacia las montañas y todo calefaccionado. Los ventanales del refugio apuntan a varios puntos cardinales épicos de la región: Glaciar Frías, Cerro Tronador, Valle del río, Lago Frías y Cerro Constitución. Si… a donde mires, hay belleza. 
              </p>
              <p class="blog-main-text">
                Si buscan acampar, hay una zona de acampe muy pequeña alrededor del refugio en donde no entrarán más de 4 o 5 carpas. Como alternativa podés acampar más abajo en alguna zona libre pero no es lo recomendado.  Ideal llegar lo más temprano posible para no quedarse sin lugar 😊. 
              </p>
              <div class="blog-image-content">
                <img class="blog-image" src="/images/bariloche/7-vista2.jpg" alt="image-2">
                <div class="blog-image-author">
                  <i class="fas fa-camera"></i>
                  <p>Tomás Blotta</p>
                </div>
              </div>
              <p class="blog-main-text">
                Arribamos con mucho cansancio encima. Armamos las carpas al pie del refugio, y decidimos descansar mientras disfrutamos de un atardecer alucinante. Aquí conocimos a Iñaki, a quien apodamos el “gurú del disfrute” dado que se dedicaba a hacer planes increíbles para turistas. También a Feli, una mujer de extrema calidez que de un día para el otro decidió dejar atrás su vida corporativa en Buenos Aires para irse a vivir a Bariloche. Que loco como te puede transformar la montaña, ¿no?
              </p>
              <p class="blog-main-text">
                Cuando el sol anunció su retirada, nos esperaba una gran experiencia gastronómica en el refugio. La comida fue realmente exquisita, recomendamos la pasta casera con una buena copa de vino. Es importante darse estos gustos luego de exigir tanto al cuerpo. No solo es bueno para la recuperación física, sino para recargar la mente y para acariciar el alma.
              </p>
              <div class="blog-image-content">
                <img class="blog-image" src="/images/bariloche/7-estrellas.jpg" alt="image-2">
                <div class="blog-image-author">
                  <i class="fas fa-camera"></i>
                  <p>Tomás Blotta</p>
                </div>
              </div>


</div>  <!-- End blog content-->  