<div class="blog-content main-container">
              <h1 class="main-title">Laguna Ilón - Refugio Agostino Rocca</h1>
              <p class="blog-main-text">
                Nos levantamos temprano para encontrarnos con un cielo azul, sin nubes a la vista. Rápidamente saltamos de la carpa y aprovechamos el tiempo que nos quedaba en la playa de @lagunailon. Después de un refrescante chapuzón nos preparamos para comenzar el trayecto hacia Agostino Rocca.
              </p>
              <p class="blog-main-text">
                Es un camino largo pero muy disfrutable. Tuvimos que hacer varias paradas porque tuvimos un lesionado en el equipo (@fertossici) con problemas de rodilla. Fue en uno de los pasos en altura que nos encontramos con él, el imponente Cerro Tronador, radiante por el reflejo del sol en su manto de nieve. Disfrutamos de un receso extendido a su pie donde @tomyblo retrató este fabuloso momento y continuamos nuestro camino hacia @refugio.rocca. (INSERT FOTOS DE LOS PIBES AL PIE DEL TRONADOR)
              </p>
</div>  <!-- End blog content-->  