<div class="blog-content main-container">
              <h1 class="main-title">Refugio Agostino Rocca</h1>
              <p class="blog-main-text">
                Al siguiente día, bien temprano, nos dirigimos a unas cascadas a unos 15 minutos del refugio <a class="link-ref" href="https://www.refugiorocca.com/paseos/">Paseo de las Cascadas</a>, un lugar sumamente hermoso para bañarse bajo las enormes duchas naturales que nos ofrece las gigantescas rocas con agua de glaciar.
              </p>
              <div class="blog-image-content">
                <img class="blog-image" src="/images/bariloche/7-cascada.jpg" alt="image-2">
                <div class="blog-image-author">
                  <i class="fas fa-camera"></i>
                  <p>Tomás Blotta</p>
                </div>
              </div>
              <p class="blog-main-text">
                Hay pequeñas cuevas de hielo y un arroyo hermoso con agua perfectamente potable. Acá almorzamos unos ricos sandwiches de queso y jamón crudo, con unas deliciosas galletitas de postre. Antes de irnos nos divertimos haciendo un poco de culopatín en los pedazos de hielo frente a las cascadas.
              </p>
              <div class="blog-image-content">
                <img class="blog-image" src="/images/bariloche/7-hielo.jpg" alt="image-2">
                <div class="blog-image-author">
                  <i class="fas fa-camera"></i>
                  <p>Tomás Blotta</p>
                </div>
              </div>
              <p class="blog-main-text">
                A nuestra vuelta, nos dijeron que ya no había lugar para acampar esa noche, por lo cual el mismo día emprendimos nuestra vuelta hacia Pampa Linda: el trayecto final.
              </p>
              <div class="blog-image-content">
                <img class="blog-image" src="/images/bariloche/7-grupal.jpg" alt="image-2">
                <div class="blog-image-author">
                  <i class="fas fa-camera"></i>
                  <p>Tomás Blotta</p>
                </div>
              </div>
              <p class="blog-main-text">
                Culminar nuestro viaje en el refugio Rocca fue muy significativo para el grupo. Es un lugar que se siente atemporal, con paisajes inigualables y personas hermosas. Fue tanto el impacto, que uno de nuestros integrantes, @Fran Baqueriza, hizo una acuarela increíble para inmortalizar el momento. Gracias chori.
               </p>
               <div class="blog-image-content">
                <img class="blog-image" src="/images/bariloche/7-cabaña1.jpg" alt="image-2">
              </div>
              <div class="blog-image-content">
                <img class="blog-image" src="/images/bariloche/7-cabaña2.jpg" alt="image-2">
                <div class="blog-image-author">
                  <i class="fas fa-camera"></i>
                  <p>Francisco Baqueriza</p>
                </div>
              </div>
              <p class="blog-main-text">
                Hay más de una manera para bajar del Refugio Rocca, pero nosotros optamos por hacer el descenso por Pampa Linda. 
              </p>


</div>  <!-- End blog content-->  