<div class="blog-content main-container">
              <h1 class="main-title">Refugio Agostino Rocca</h1>
              <p class="blog-main-text">
                Luego de una hermosa travesía de entre unas 6 y 8 horas de caminata desde Laguna Ilón, arribamos al refugio Agostino Rocca. Atravesamos el famoso “Paso de las nubes”. Una experiencia única e irrepetible. Tanto esfuerzo valió la pena cuando llegamos a este lugar paradisíaco.
              </p>
              <p class="blog-main-text">
                Si hay algo de este tipo de viajes, es que la recompensa siempre es proporcional al esfuerzo físico realizado. A mayor esfuerzo, más grata parece ser la recompensa. 
              </p>
              <p class="blog-main-text">
                El refugio consta de una sala tipo comedor, con una hermosa vista hacia las montañas y todo calefaccionado. Los ventanales del refugio apuntan a varios puntos cardinales épicos de la región: Glaciar Frías, Cerro Tronador, Valle del río, Lago Frías y Cerro Constitución. Si… a donde mires, hay belleza.
              </p>
              <p class="blog-main-text">
                Si buscan acampar, hay una zona de acampe muy pequeña alrededor del refugio en donde no entrarán más de 4 o 5 carpas. Como alternativa podés acampar más abajo en alguna zona libre pero no es lo recomendado.  Ideal llegar lo más temprano posible para no quedarse sin lugar 😊.
              </p>
              <p class="blog-main-text">
                Arribamos con mucho cansancio encima. Armamos las carpas al pie del refugio, y decidimos descansar mientras disfrutamos de un atardecer alucinante. Aquí conocimos a Iñakí, a quien apodamos el “gurú del disfrute” dado que se dedicaba a hacer planes increíbles para turistas- (ver si podemos linkear a su web o IG si es que tiene). También a Feli, una mujer de extrema calidez que de un día para el otro decidió dejar atrás su vida corporativa en Buenos Aires para irse a vivir a Bariloche. Que loco como te puede transformar la montaña, no?
              </p>
              <p class="blog-main-text">
                Cuando el sol anunció su retirada, nos esperaba una gran experiencia gastronómica en el refugio. La comida fue realmente exquisita, recomendamos la pasta casera con una buena copa de vino. Es importante darse estos gustos luego de exigir tanto al cuerpo. No solo es bueno para la recuperación física, sino para recargar la mente y para acariciar el alma.
              </p>
              <p class="blog-main-text">
                Al siguiente día, bien temprano, nos dirigimos a unas cascadas a unos 15 minutos del refugio (Paseo de las Cascadas https://www.refugiorocca.com/paseos/ ), un lugar sumamente hermoso para bañarse bajo las enormes duchas naturales que nos ofrece las gigantescas rocas con agua de glaciar.
              </p>
              <p class="blog-main-text">
                Hay pequeñas cuevas de hielo y un arroyo hermoso con agua perfectamente potable. Acá almorzamos unos ricos sandwiches de queso y jamón crudo, con unas deliciosas galletitas de postre. Antes de irnos nos divertimos haciendo un poco de culopatín en los pedazos de hielo frente a las cascadas.
              </p>
              <p class="blog-main-text">
                A nuestra vuelta, nos dijeron que ya no había lugar para acampar esa noche, por lo cual el mismo día emprendimos nuestra vuelta hacia Pampa Linda: el trayecto final.
              </p>
              <p class="blog-main-text">
                Culminar nuestro viaje en el refugio Rocca fue muy significativo para el grupo. Es un lugar que se siente atemporal, con paisajes inigualables y personas hermosas. Fue tanto el impacto, que uno de nuestros integrantes, @Fran Baqueriza, hizo una acuarela increíble para inmortalizar el momento. Gracias chori.
               </p>
              <p class="blog-main-text">
                Hay más de una manera para bajar del Refugio Rocca, pero nosotros optamos por hacer el descenso por Pampa Linda. Toda la info sobre eso haciendo clic en el hipervínculo 😊. (hace clic en “pampa linda” y lleva al blog de pampa linda para explicar todo).
              </p>


</div>  <!-- End blog content-->  