<div class="blog-content main-container">
              <h1 class="main-title">Pampa Linda</h1>
              <p class="blog-main-text">
                Después de nuestra estadía en el refugio Agostino Rocca, emprendimos nuestro regreso hacia Pampa Linda, donde eventualmente un transfer nos llevaría de vuelta hacia Bariloche para iniciar nuestra parte “chill” del viaje. Sugerencias sobre esto acá (link para steffen y guillelmo).
              </p>
              <p class="blog-main-text">
                Arrancamos a caminar desde el refugio alrededor de las 2 de la tarde para arribar a Pampa Linda a eso de las 19hs y evitar el anochecer. Es un trayecto largo, pero es mayormente plano y en bajada, sin dificultades físicas que valgan la pena destacar. Disfruten el camino, es muy relajante. Algunos de nuestros miembros decidieron caminar en soledad para estar más en contacto con la naturaleza (MUY recomendable, caminar solo es terapéutico). Otros decidieron caminar en patas (no tan recomendable).
              </p>
              <p class="blog-main-text">
                Luego de un par de horas de caminata llegamos a Pampa Linda, donde desesperados de hambre y cansancio nos pedimos algunos sandwiches de milanesa y algunas chocolatadas calientes en un bar (muy visible una vez que llegas) para compartir experiencias y contemplar lo vivido. Destacamos los alfajores artesanales que pudimos conseguir, pregunten! Son una caricia al alma. Francisco BaquerizaCHORI NOMBRE DE ALFAJORES 
              </p>
              <p class="blog-main-text">
                Esa noche acampamos en un arroyo a unos 200 o 300 metros del bar (es un camping libre), donde cenamos unos clásicos tirabuzones con salsa. Después de una experiencia así, lo simple se valora muchísimo. De postre comimos unas tristes fajitas con mermelada para agotar todas nuestras provisiones.
              </p>
              <p class="blog-main-text">
                Al siguiente día el transfer nos buscó en la zona de llegada (cerca del bar) y arrancamos la vuelta para Bariloche para disfrutar (como de costumbre) nuestra segunda etapa del viaje, un tanto más tranquila y diseñada para el disfrute. Recomendaciones sobre qué hacer al bajar de la montaña acá (link a steffen y guillelmo).                
              </p>
             


</div>  <!-- End blog content-->  